table{
    table-layout:inherit;
    empty-cells:show; 
    border-collapse: collapse;
    margin:0 auto;
    font-size:12px;
}
td {
    height:30px;
}

table.t1{
    border:1px solid #cad9ea;
    color:#666;
}
table.t1 td{
    border:1px solid #cad9ea;
    padding:0 1em 0;
}
table.t1 tr.a1{
    background-color:#f5fafe;
}

td.a1{
    background-color:#f5fafe;
}

