<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
  
	<!-- PUSH消息推送 -->
	<bean id="pushAction" class="com.demo.server.push.web.action.PushAction">
	    <property name="ebi" ref="push_ebi"/>
	</bean>
	
	<bean id="push_ebi" class="com.demo.server.push.business.ebo.PushEbo">
		<property name="dao" ref="push_dao"/>
	</bean>
	
	<bean id="push_dao" class="com.demo.server.push.dao.impl.PushImpl">
	</bean>
	
</beans>